.about {
  @extend %section;

  &__title {
    @include h1();
  }

  &__hr {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__img {
    text-align: center;
    img{
      transition: all 0.8s 0.2s;
    }
    img:hover {
      transform: scale(1.06);
    }
  }

  &__text {
    margin: 3rem;
    font-size: 1.4rem;
    text-align: center;

    @media ($mobileL) {
      font-size: 1.6rem;
    }
  }
}
