.cart {
  @extend %section;

  &__title {
    @include h1();
  }

  &__hr {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__empty-message {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    text-align: center;
  }

  &__items {
    display: grid;
    grid-template-columns:  minmax(1.8rem, 3rem) minmax(9rem, 12rem) 1fr minmax(3.8rem, 6rem) minmax(6rem, 9rem);
    grid-template-rows: 1fr;
    align-items: center;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 100rem;

    overflow: hidden;
    wordBreak: break-word;
    font-size: 1.4rem;
    text-align: center;

    @media ($mobileL) {
      font-size: 1.6rem;
    }
  }

  &__column-image {
    & > img {
      width: 9rem;
      height: 6rem;
      border: solid 1px black;
    }
    margin-bottom: 1rem;
  }

  &__column-name {
    text-align: left;
  }

  &__column-quantity {
    text-align: center;
    & > input {
      width: 4rem;
      @media ($mobileL) {
        width: 5rem;
      }
    }
  }

  &__buttons {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;

    @media ($mobileM) {
      flex-direction: row;
      justify-content: center;
    }
  }
}
