.infoOrder {
  @extend %section;

  &__title {
    @include h1();
  }

  .form {
    margin-left: auto;
    margin-right: auto;

    width: 50rem;
    max-width: 100%;

    text-align: center;
    font-size: 1.4rem;

    @media ($mobileL) {
      font-size: 1.6rem;
    }

    &__field {
      display: grid;
      justify-items: center;
      margin-bottom: 1.5rem;
      grid-template-columns: 7rem 1fr;
      padding-right: 1rem;
      padding-left: 1rem;

      & > label {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: flex-end;
        align-self: center;
        margin-right: 1rem;
      }

      & > input {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 3rem;
        width: 100%;
      }

      &> span {
        grid-column: 2/3;
        grid-row: 2/3;
        color: red;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}
