.locationOrder {
  @extend %section;
  text-align: center;

  &__title {
    @include h1();
  }

  &__ymaps {
    display: inline-block;
    margin-bottom: 2rem;
  }

  &__map {
    width: 40rem;
    height: 40rem;
  }

  &__button {
    & > button {
      width: 12rem;
      margin: 5px;
      height: 3rem;
    }
  }
}
