.products {
  @extend %section;

  &__title {
    @include h1();
  }

  &__hr {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__items {
    display: flex;
    flex-direction: column;

    @media ($mobileL) {
      max-width: 137rem;
      margin-top: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;
    }
  }

  &__item {
    margin: 1rem;
    width: 32rem;
  }
}
