.wrongpage {
  @extend %section;

  &__title {
    @include h1();
  }

  &__link {
    font-size: 1.8rem;
    text-align: center;
    color: $primaryColor;
    font-family: $linkFont;

    @media ($mobileL) {
      font-size: 2.2rem;
    }
  }
}
