.productCard {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-radius: 0.5rem;
  box-shadow: $smallShadow;
  border: solid 0.1rem black;
  background-color: white;

  display: grid;
  grid-template-rows: 1fr 20rem 4rem;

  font-size: 1.6rem;
  text-align: center;

  &__title {
    padding: 3px;
    align-self: center;
    font-weight: normal;
    white-space: pre-wrap;
    &-filter {
      color: blue;
    }
  }

  &__image {
    margin-bottom: 1rem;
    img{
      cursor: pointer;
      border: solid 0.1rem grey;
    }
  }

  &__status {
    font-weight: bold;
    align-self: center;
  }

  &__button {
    width: 20rem;
    height: 2.5rem;
    align-self: center;
    justify-self: center;
  }

  @media ($mobileL) {
    box-shadow: $bigShadow;
  }
}

