.controlMenu {
  width: 100%;
  background-color: #c4c4c4;
  border: solid 1px #ff0000;
  font-size: 2rem;

  display: grid;
  grid-template-rows: 1fr 1fr;

  & > div {
    justify-self: center;
    align-self: center;
  }

  @media ($mobileM) {
    grid-template-rows: 5.5rem;
    grid-template-columns: 1fr 1fr;

    & > div:nth-child(1) {
      justify-self: flex-end;
      padding-right: 3rem;
    }

    & > div:nth-child(2) {
      padding-left: 3rem;
      justify-self: flex-start;
    }
  }

  &__menu-item {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: $linkFont;

    &:hover {
      color: lighten(black, 40%);
    }

    &_active {
      color: yellow;
      &:hover {
        color: darken(yellow, 5%);
      }
    }
  }
}
