@font-face {
  font-family: "Roboto";
  src: url($asset_path + "/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url($asset_path + "/fonts/roboto-bold-webfont.woff") format("woff"),
    url($asset_path + "/fonts/roboto-bold-webfont.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url($asset_path + "/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url($asset_path + "/fonts/roboto-regular-webfont.woff") format("woff"),
    url($asset_path + "/fonts/roboto-regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url($asset_path + "/fonts/roboto-italic-webfont.woff2") format("woff2"),
    url($asset_path + "/fonts/roboto-italic-webfont.woff") format("woff"),
    url($asset_path + "/fonts/roboto-italic-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PatuaOne";
  src: url($asset_path + "/fonts/PatuaOne-Regular.woff2") format("woff2"),
    url($asset_path + "/fonts/PatuaOne-Regular.woff") format("woff"),
    url($asset_path + "/fonts/PatuaOne-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
